<section id="pricing"  class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Pricelist</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
            </div>
        </div>
        <div class="row">
            {% for category in site.data.pricelist %}
            <div class="col-md-3 ftco-animate">
                <div class="pricing-entry pb-5 text-center">
                    <div>
                        <h3 class="mb-4">{{ category.title }}</h3>
                        <!-- <p><span class="price">$24.50</span> <span class="per">/ one trip</span></p> -->
                    </div>
                    <ul>
                        {% for item in category.items %}
                        <li>{{ item.name }} <span class="price">{{ item.price }}</span>{%- if item.per -%} <span
                                class="per"> / {{ item.per }}</span>{%- endif -%}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}







            <!-- <div class="col-md-3 ftco-animate">
                <div class="pricing-entry pb-5 text-center">
                    <div>
                        <h3 class="mb-4">Acrylic Nails</h3>
                        <p><span class="price">$24.50</span> <span class="per">/ one trip</span></p>
                    </div>
                    <ul>
                        <li>French Fade <span class="price">$24.50</span><span class="per">/ one trip</span></li>
                        <li>Hair Trimming</li>
                        <li>Spa Therapy</li>
                        <li>Body Massage</li>
                        <li>Manicure</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="pricing-entry pb-5 text-center">
                    <div>
                        <h3 class="mb-4">Standard</h3>
                        <p><span class="price">$34.50</span> <span class="per">/ one trip</span></p>
                    </div>
                    <ul>
                        <li>Nail Cutting &amp; Styling</li>
                        <li>Hair Trimming</li>
                        <li>Spa Therapy</li>
                        <li>Body Massage</li>
                        <li>Manicure</li>
                    </ul>
                    <p class="button text-center"><a href="#"
                            class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a></p>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="pricing-entry active pb-5 text-center">
                    <div>
                        <h3 class="mb-4">Premium</h3>
                        <p><span class="price">$54.50</span> <span class="per">/ one trip</span></p>
                    </div>
                    <ul>
                        <li>Nail Cutting &amp; Styling</li>
                        <li>Hair Trimming</li>
                        <li>Spa Therapy</li>
                        <li>Body Massage</li>
                        <li>Manicure</li>
                    </ul>
                    <p class="button text-center"><a href="#"
                            class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a></p>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="pricing-entry pb-5 text-center">
                    <div>
                        <h3 class="mb-4">Platinum</h3>
                        <p><span class="price">$89.50</span> <span class="per">/ one trip</span></p>
                    </div>
                    <ul>
                        <li>Nail Cutting &amp; Styling</li>
                        <li>Hair Trimming</li>
                        <li>Spa Therapy</li>
                        <li>Body Massage</li>
                        <li>Manicure</li>
                    </ul>
                    <p class="button text-center"><a href="#"
                            class="btn btn-primary btn-outline-primary px-4 py-3">Order now</a></p>
                </div>
            </div> -->
        </div>
    </div>
</section>