<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">The Beauty Experts</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis auctor commodo.Nullam nec nisl.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for item in site.data.profiles %}
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url({{ item.avatar }});"></div>
                    <div class="info text-center">
                        <h3>{{ item.name}}</a>
                        </h3>
                        <span class="position">{{ item.position }}</span>
                        <div class="text">
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>