<section class="ftco-section ftco-discount img" style="background-image: url(/assets/img/spring_special_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-5 discount ftco-animate">
                <h3>Spring Special</h3>
                <h2 class="mb-4">Acrylic Tips & Hand Exfoliating Scrub</h2>
                <h2 class="mb-4"><strong>R200</strong></h2>
                <p class="mb-4">Treat yourself or a loved one to so some beautiful acrylic tips and an exfoliating srub.</p>
                <p class="mb-4 terms">* Week days only. Nail art at an additonal cost.</p>
                <p><a href="/#appointment" class="btn btn-white btn-outline-white px-4 py-3">Book Now</a></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-discount img" style="background-image: url(/assets/img/spring_special_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-5 discount ftco-animate">
                <h3>Spring Special</h3>
                <h2 class="mb-4">Gel Toes</h2>
                <h2 class="mb-4"><strong>R140</strong></h2>
                <p class="mb-4">Bust out those toes this spring and give them a new look.</p>
                <p class="mb-4 terms">* Week days only. Nail art at an additonal cost.</p>
                <p><a href="/#appointment" class="btn btn-white btn-outline-white px-4 py-3">Book Now</a></p>
            </div>
        </div>
    </div>
</section>