---
layout: default
title: Wet Paint
subtitle: Nail Boutique
image: /assets/img/logo.png
banner: /assets/img/bg_3.jpg
---

<!-- Services -->
{%- include services.html -%}

<!-- Profiles -->
{%- include profiles.html -%}

<!-- Specials -->
{%- include specials.html -%}

<!-- Showcase -->
<!-- {%- include showcase.html -%} -->

<!-- Partners -->
<!-- {%- include partners.html -%} -->

<!-- Pricing -->
{%- include pricelist.html -%}

<!-- Counters -->
<!-- {%- include counters.html -%} -->

<!-- Blog posts -->
<!-- {%- include blogposts.html -%} -->

<!-- Appointment -->
{%- include appointment.html -%}